<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Goal</title>
    <!-- <link rel="stylesheet" href="./static/app.css"> -->
    <link rel="stylesheet" href="app.css">

</head>

<body>
    <div id="goal">
        <%= goal.name %> 
    </div>
    <form action="/<%= goal.id %> " method="post">
        <button type="submit">DELETE GOAL</button>
    </form>
</body>

</html>