<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Goal</title>
    <!-- <link rel="stylesheet" href="./static/app.css"> -->
    <link rel="stylesheet" href="app.css">

</head>

<body>
    <div id="goal">
        <%= goal.name %> 
    </div>
    <div class="delete-goal">
        <form action="/<%= goal.id %> " method="post">
            <button type="submit">DELETE GOAL</button>
        </form>
    </div>

    <div class="update-goal">
        <div>
            <h2>  - Update Goal </h2> 
            <form action="/update-goal " method="post">
                <input type="hidden" name="goal-id" value="<%= goal.id %> ">
                <input type="text" name="update-goal" value="<%= goal.name %> "/>
                <button type="submit"> update Goal</button>
            </form>
        </div>
    </div>
</body>

</html>