<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./static/app.css"> -->
    <link rel="stylesheet" href="app.css">

</head>

<body>
    <h2><%= title %> </h2>
    <div>
        <h2> + Add New Goal </h2>
        <form action="/add-goal" method="post">
            <input type="text" name="newGoal" />
            <button type="submit"> Add Goal</button>
        </form>
    </div>
    <ul>
        <% for(let i=0 ; i<goals.length ; i++){%>
        <li><%= goals[i].name %> </li>
        <% } %>
    </ul>
</body>

</html>